body {
  background-color: #fff;
}

.logo {
  width: 25px;
}

.h-100 {
  height: calc(100vh - 49px) !important;
}

.text-red {
  color: #DB3737 !important;
}

.w-exact-500 {
  max-width: 500px !important;
}

.w-exact-250 {
  min-width: 250px !important;
}